# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
